@model ECommerce.Entity.Member
@{
    ViewBag.Title = "EditPassword";
    Layout = "~/Views/Shared1/_UserLayout.cshtml";
}

<div class="main-container container">
    <ul class="header-main ">
        <li class="home"><a href="#">Home   </a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
        <li class="home"><a href="#">Account   </a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
        <li> My Account</li>
    </ul>

    <div class="row">
        <!--Middle Part Start-->
        <div class="col-sm-9" id="content">
           
                <h3 style="color:red">@ViewBag.Message</h3>
            <h2 class="title">Change Password</h2>
            <p class="lead">Hello, <strong>@Model.FirstName @Model.LastName</strong></p>
            <form method="post" action="~/Profile/EditPassword">
                @Html.HiddenFor(model => model.UserId)
                <div class="row">
                    <div class="col-sm-9">
                        <fieldset id="personal-details">
                            <legend>Personal Details</legend>
                            <div class="form-group required">
                                <label for="input-firstname" class="control-label">Password</label>
                                <input type="password" class="form-control" id="oldPassword" required="required" placeholder="Old Password" value="" name="oldPassowrd">
                            </div>
                            <div class="form-group required">
                                <label for="input-firstname" class="control-label">Password</label>
                                <input type="password" class="form-control" id="Password" required="required" placeholder="New Password" value="" name="Password">
                            </div>
                            <div class="form-group required">
                                <label for="input-firstname" class="control-label">Password</label>
                                <input type="password" class="form-control" id="ConfirmPassword" required="required" placeholder="New Password Confirm" value="" name="ConfirmPassword">
                            </div>
                            <div class="buttons clearfix">
                                <div class="pull-right">
                                    <input type="submit" class="btn btn-md btn-primary" onclick="return Validate()" />

                                </div>
                            </div>

                        </fieldset>
                    </div>
                </div>

            </form>
        </div>
        <!--Middle Part End-->
        <!--Right Part Start -->
        @Html.Partial("~/Views/Shared1/_AccountSettings.cshtml")
        <!--Right Part End -->
    </div>
</div>

<script type="text/javascript">
    function Validate() {
        var password = document.getElementById("Password").value;
        var confirmPassword = document.getElementById("ConfirmPassword").value;
        if (password != confirmPassword) {
            alert("You first Passwords is not similar with 2nd password. Please enter same password in both");
            return false;
        }
        return true;
    }
</script>

